
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel Administarcyjny Systemu Zgłoszeń</h2>

<div class="row">
    <div class="col-md-3">
        <h2>Adresy</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        @Html.ActionLink("Adresy", "Index", "BOK_ADRES",new { @class = "btn btn-primary" }) 
    </div>
    <div class="col-md-3">
        <h2>Dane Kontaktowe</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>@Html.ActionLink("Dane kontaktowe", "Index","BOK_DANE_KONTAKTOWE", new { @class = "btn btn-primary" }) </p>
    </div>
    <div class="col-md-3">
        <h2>Klienci</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("Klienci", "Index","BOK_KLIENT", new { @class = "btn btn-primary" }) </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Odpowiedzi</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>@Html.ActionLink("Odpowiedzi", "Index","BOK)ODPOWIEDZ", new { @class = "btn btn-primary" }) </p>
    </div>
    <div class="col-md-3">
        <h2>Operatorzy</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>@Html.ActionLink("Operatorzy", "Index","BOK_OPERATOR", new { @class = "btn btn-primary" }) </p>
    </div>
    <div class="col-md-3">
        <h2>Priorytety</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("Priorytety", "Index","BOK_PRIORYTET", new { @class = "btn btn-primary" }) </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Status zgłoszenia</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>@Html.ActionLink("Statusy", "Index","BOK_STATUS", new { @class = "btn btn-primary" }) </p>
    </div>
    <div class="col-md-3">
        <h2>Użytkownicy</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>@Html.ActionLink("Użytkownicy", "Index","BOK_UZYTKOWNIK", new { @class = "btn btn-primary" }) </p>
    </div>
    <div class="col-md-3">
        <h2>Załączniki</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("Załączniki", "Index","BOK_ZALACZNIK", new { @class = "btn btn-primary" }) </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Zgłoszenia</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>@Html.ActionLink("Zgłoszenia", "INDEX","BOK_ZGLOESZENIE", new { @class = "btn btn-primary" }) </p>
    </div>
</div>

