@model IEnumerable<IssueTrackingSystem.Models.BOK_ZGLOSZENIE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zgłoszenia</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BOK_KLIENT.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOK_OPERATOR.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOK_PRIORYTET.OPIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOK_STATUS.OPIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_UTWORZENIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_ZAKONCZENIA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BOK_KLIENT.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOK_OPERATOR.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOK_PRIORYTET.OPIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOK_STATUS.OPIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_UTWORZENIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_ZAKONCZENIA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ZGLOSZENIE }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ZGLOSZENIE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ZGLOSZENIE })
        </td>
    </tr>
}

</table>
