@model IEnumerable<IssueTrackingSystem.Models.BOK_KLIENT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Klienci</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BOK_ADRES.ULICA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOK_DANE_KONTAKTOWE.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BOK_ADRES.ULICA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOK_DANE_KONTAKTOWE.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_KLIENTA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_KLIENTA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_KLIENTA })
        </td>
    </tr>
}

</table>
